/* Estilo general para la tarjeta */
.card {
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las alertas */
.alert {
    font-size: 16px;
    padding: 15px;
    margin-top: 20px;
}

/* Estilo para alerta de éxito */
.alert-success {
    background-color: #28a745;
    color: white;
}

/* Estilo para alerta de error */
.alert-danger {
    background-color: #dc3545;
    color: white;
}

/* Modificaciones para el formulario */
.form-control, .form-select {
    font-size: 14px;
    border-radius: 5px;
    box-shadow: none;
}

/* Estilo para el botón */
.btn-success {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}
/*validar codigo de barras*/
.invalid-feedback {
    display: block;
    color: red;
}

.is-invalid {
    border-color: red;
}
