.bg-gradient-danger {
    background: linear-gradient(135deg, #ff4d4d, #b30000);
}

.bg-gradient-warning {
    background: linear-gradient(135deg, #ffc107, #ff9800);
}

.bg-gradient-info {
    background: linear-gradient(135deg, #17a2b8, #0d6efd);
}

.bg-gradient-success {
    background: linear-gradient(135deg, #28a745, #198754);
}


.dashboard-card {
    transition: all 0.25s ease;
    cursor: default;
}

.dashboard-card:hover {
    transform: translateY(-4px);
}

.dashboard-card h1 {
    letter-spacing: 1px;
}

.icon-circle {
    width: 42px;
    height: 42px;
    min-width: 42px; /* evita que se deforme */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    font-size: 18px;
    line-height: 1;
}